// @import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap');

@font-face{
    src: url(../assets/Metropolis-Regular.otf);
    font-family: Regular;
}


@font-face{
    src: url(../assets/Metropolis-Bold.otf);
    font-family: Bold;
}


*
{
    box-sizing: border-box;
}
a
{
    text-decoration: none;
}
body{
    /* background: #000; */
    height: 100%;
    padding: 0; 
    margin: 0;
    font-family: Regular;



}

html{
    height: 100%;

}
img{

display: block;
}

.wrapper
{
    /* background: rgb(187, 180, 180); */

    width: 100%;
    max-width: 2000px;
    margin: auto;
    box-shadow: 0px 0px 30px rgba(94, 92, 92, 0.233);

    
}
.container
{
    max-width:1100px;
    margin: auto;
    display: block;
    // border-left: 1px solid rgba(0, 0, 0, 0.281);
    // border-right: 1px solid rgba(0, 0, 0, 0.281);
    height: 100%;
    position: relative;
    padding: 0;
    
}
section
{
    position: relative;
    padding: 80px 0px;;

}
header
{
    position: fixed;
    width: 100%;
    max-width: 2000px;
    top:0;
    background: rgb(255, 255, 255);
    z-index: 1000;
    box-shadow: 0px 0px 30px rgba(94, 92, 92, 0.233);
}
.header-wrapper
{

}
h2{
    font-family: bold;
    font-size: 38px;
    color: #515151;
}
.fph2
{
    margin-top: 0px;
}
nav{
    display: flex;
    height: 100px;
    justify-content: space-between;
    align-items: center;
    /* background: rgb(252, 180, 180); */
    .logo
    {
        z-index: 103;;
    }
}
nav ul 
{
    display: flex;

}

nav ul li
{
    display: block;
    padding: 0px 20px;
}
nav ul li a{
    display: block;
     border-top: 5px solid #fff;
     border-bottom: 5px solid #fff;
     height: 100px;
     line-height: 100px;
     text-transform: uppercase;
     text-decoration: none;
     font-size: 15px;
     color: #777;
     font-family: bold;


}
nav ul li a.active{
    border-top: 5px solid #0087a3;
    color: #0087a3

}
.menubtn
{
    width: 80px;
    height: 100px;;
    position: absolute;
    right: 20px;;
    top: 0;
display: none;
cursor: pointer;

    div
    {
        height: 3px;
        background: #0087a3;
        position: absolute;
        right: 0;
        transition: 300ms;

    }
    .l1
    {
        width: 40px;
        top: 40px;

    }
    .l2
    {
        width: 40px;
        top: 50px;
    
    }
}
a.readmore
{
    background: #0087a3;
    padding:15px 20px;
    margin-top: 20px;;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    box-shadow: 0px 5px 30px #aaa;
    margin-bottom: 20px;

    font-family: bold;
    font-size: 14px;
    line-height: 14px;;
}
.intro
{
    // background: rgb(248, 174, 174);
    // height: 90vh;
    margin-top: 100px;;
    overflow: hidden;
    padding: 0;
    .container 
    {
        display: flex;
        align-items: center;
        justify-content: space-between;

    }

    .intro-content
    {
        width: 40%;
        padding:0px 50px;

        h1
        {
            font-size: 45px;
            color: #515151;
            font-family: bold;
        }

        p
        {
            color:#8e8e8e;
            font-size: 16px;
            line-height: 26px;

        }
        a
        {
        background: #0087a3;
            padding: 20px;
            // margin-top: 60px;;
            display: inline-block;
            text-decoration: none;
            text-transform: uppercase;
            color: #fff;
            box-shadow: 0px 5px 30px #aaa;
        }
        
    }
    .intro-slider
    {
        width: 60%;
        position: relative;

        .inner 
        {
            width: 650px;
            height: 580px;
            background: rgb(194, 152, 152);
            margin: 0;
            margin-top: 80px;;
        }
        .swiper-wrapper
        {
            // height: 100%;;
        }
        .swiper-slide
        {
            // width: 100%;
            // height: 100%;
            background-size: cover;
            background-position: center ;
        }
    }
    .intro-bg
    {
        background: #fdb35d;
        position: absolute;
        width: 60vw;
        left: 40%;
        top:0;
        height: 85%;
    }
    .swiper-button-next, .swiper-button-prev
    {

        bottom: 10px;  
        top: auto;
        left:10px;

    }
    .swiper-button-next
    {
        left: 62px;
    }
}

.numbers
{
    // background: rgb(112, 159, 245);
    height: auto;

    .number-content
    {

            display: flex;
            justify-content: space-around;
        
        .number 
        {
            padding: 20px 0px;
            display: flex;
            align-items: flex-end;
            
            p
            {
                margin: 0;
                padding-left: 10px;;
            }


        }
    }

}
.tiles
{
    padding: 0;
    .tiles-bg
    {
        background: #dfe8f8;
        position: absolute;
        height: 100%;;
        top: 0;
        left: 0;
        width: 50%;
    }

}
.tiles-content
{
    display: flex;
    flex-direction: row;
    align-items: stretch;
height: 100%;;

    .left
    {
background:#dfe8f8;
flex-grow: 1;
flex-basis: 0;
align-items: center;
display: flex;
        .mission
        {
            color: #fff;
        padding: 30px  60px;
        font-weight: 300;
        font-size: 26px;
            .mission-head
        {
        display: flex;
        h1 
        {
            color: #515151;
            padding-left: 10px;
            font-size: 36px;

        }
        }
        }
        p
        {
            padding-left: 100px;
            color: #515151;
            font-weight: 300;
            background :url(../img/qoute.svg) no-repeat;
            background-position: 30px 0;
            margin-top: 0;
            padding-top: 30px;;

            span 
            {
        font-weight: 600;
                color: #0087a3;
            }
        }
    
    }
    .right
    {
        flex-grow: 1;
        flex-basis: 0;
        background: #fff;

        .founder 
        {
            height: 50%;;
            display: flex;
            align-items: center;
            
            img
            {
                height: 100%;
            }
        }
        .princi
        {
            height: 50%;;
            display: flex;
            align-items: center;
            img
            {
                height: 100%;
            }
            p
            {
                background :url(../img/qoute.svg) no-repeat;
                background-size: 70px;
                padding-left: 30px;
                padding-top: 20px;
            
            }
        }
    }
    .tile-body
    {
        padding: 50px;
        padding-right: 0px;;
        font-weight: 300;
        font-size: 14px;
        position: relative;

        p
        {
            line-height: 25px;;
            font-size: 14px;
            color: #8e8e8e;
        }
    }
}
.about
{
    padding: 80px 0px;;
height: auto;
    background-image: url(../img/s2.jpg) ;
    background-size: cover;
    background-position: center top ;
    .about-content  
    {
        display: flex;
        justify-content: flex-start;
    }
    .about-slider
    {
        flex: 2;
        flex-basis: 0;;
    }
    .about-body
    {
        flex:3;
        flex-basis: 0;;
        padding: 0px 50px;
        padding-right: 0px;;
        
        p
        {
            line-height: 25px;;
            font-size: 14px;
            color: #8e8e8e;
        }
    }


}
.charity
{

    padding: 80px 0px;
    height: auto;
    overflow-x: hidden;
    .charity-slider
    {
        position: relative;

    }
    .bg
    {
    background: #fdb35d;
    position: absolute;
    width: 100vh;
    right: 50%;
    top: -80px;
    height: calc(100% + 160px);
    z-index: -1;;
    
    }
    .charity-content
    {
        display: flex;

    }
    .charity-body
    {
        padding-right: 0px;
        padding-left: 70px;
        font-weight: 300;
        line-height: 25px;;
        font-size: 14px;
        color: #8e8e8e;
    }
}
.events
{
    .events-content
    {
        display: flex;
        justify-content: space-between;
    }

    .event
    {   
        // flex: 1;
        margin: 0px 30px;
        position: relative;

        &:first-child
        {
            margin-left: 0px;
        }
        .date 
        {
            position: absolute;
            width: 150px;
            background: #a4d9d6;
            top:0;
            left: 50%;;
            height: 50px;
            transform: translate(-50%,-50%);
            text-align: center;
            color: #777;
            line-height: 50px;;
        }
        img 
        {
            width:230px;; 
        }
    }
    .event-body
    {
// flex-basis: 1;
padding-left: 40px;
line-height: 25px;;
font-size: 14px;
color: #8e8e8e;
    }
}
.achievements
{
background: #ebf4f3;
    .ach-content
    {
        display: flex;
        justify-content: space-between;
        gap: 20px;

        .ach
        {
            position: relative;

            img
            {
                width: 230px;


            }
            p
            {
                background: #fff;
                padding: 15px;
   
                width: 230px;
                margin: 0;
                font-size: 15px;
                color: #555;

            }
            

        }

    }

}
.articles
{

    .articles-content
    {
        display: flex;
        justify-content: space-between;
        gap: 30px;

    }

}
.article
{
    box-shadow: 0px 0px 20px #ccc;
    .article-img
    {
        width: 300px;
    }
.article-body
{
width: 300px;
background: #fff;
padding: 15px;
h4
{
margin: 0;
padding-bottom: 20px;;
color: #565656
}

}
    .details
    {
        display: flex;
justify-content: space-between;
padding-bottom: 20px;;
color: #666;

        .author
        {
            display: flex;
            align-items: center;
            img
            {
                border-radius: 50%;
                width: 20px;
                margin-right: 8px;
            }
        }

    }
    .article-footer
    {
        display: flex;
        justify-content: space-between;
        a
        {
            color: #0087a3;
            font-size: 15px;
        }
     
        .social
        {
            display: flex;

            img 
            {
                width: 17px;
                margin-left: 10px;;
            }
        }
    }

}
.alumni
{
    background: #bfdddb;
    position: relative;
    .albg
    {
    background-image: url(../img/cld.png);
    position: absolute;
    width: 100%;
    height: 100%;
    background-position:  center bottom;
background-size: contain;
background-repeat: no-repeat;
bottom: 0;
    }

    .swiper-container1
    {
        overflow: hidden;
        // padding: 0px 80px;
    }
    .swiper-slide
    {
        // background: #fff;
        text-align: center;
        margin-bottom: 25px;;
        img 
        {
            border-radius: 50%;
            margin: auto;
            width: 200px;
        }
        h4 
        {
            margin-bottom: 15px;
        }
        p 
        {
            margin: 8px 0px 3px
        }
    }
    .readmore
    {
        margin-left: auto;

    }

}
.contact
{
    background: #fff;
    overflow: hidden;

    .contact-content
    {
        display: flex;

        .contact-body 
        {
            flex:1;
            display: flex;
            // align-items: center;
            padding-bottom: 150px;;
            flex-direction: column;
            h2 
            {
                font-size: 40px;
                font-family: bold;
            }
            h3
            {
                font-size: 30px;
                font-family: bold;
                margin-top: 0;
            }
            p 
            {
                color: #515151;
            }
        }
        .sendmail
        {
            background: #199db8;
            padding: 1rem 2.5rem;
            border-radius: 6px;
            color: #fff;
            font-family: bold;
            display: inline-block;
        }
        .map 
        {
            flex:1;
            position: relative;
            iframe
            {
                z-index: 100;
            position: relative;


            }
            .mapbg  
            {
                position: absolute;
                width: 100%;
                height: 100%;
                background: #c9f8ef;
                right: -10%;
                bottom: -10%;
                z-index: 99;
            }
        }
    }
}
.visitor-comments
{
    background:#fff;
 h2 
 {
     text-align: center;
     font-family: bold;
 }
}
.vc-slider
{
    overflow-x: hidden;
.swiper-slide
{
    text-align: center;
    padding: 0px 20%;

}
    img 
    {
        width: 100px;
        border-radius: 50%;
        margin: auto;
    }
    .swiper-pagination 
    {
        bottom:0;
    }
    
}

footer{
    background:#0087a3 ;
    padding: 80px 0px 0px;
    color: #fff;
    position: relative;
    &:after 
    {
        position: absolute;
        content: "";
        height: 232px;
        background: url(../img/footer-l.png), url(../img/footer-r.png);
        background-position: left bottom, right bottom;
        background-repeat: no-repeat, no-repeat;
        background-size: contain;
        width: 100%;
        bottom: 100%;
        z-index: 1;

    }

    
    
section 
{
    background: rgb(51, 51, 51);
    padding: 10px;
    font-size: 13px;

    .copyright
    {
        display: flex;
        justify-content: space-between;
        a
        {
            color: #c2c2c2;
            &:hover 
            {
                text-decoration: underline;
            }
        }
    }
}
}

.footer-content
{
    display: flex;
    gap: 60px;
    margin-bottom: 80px;;

    .footer-column
    {
        flex: 1;
        
        p
        {
             line-height: 26px;;
        
        }
    }

    .ql-column, .address
    {
        margin-top: 50px;;
    }

    .quicklinks
    {
        display: flex;

        
        ul 
        {
            padding:0;
            margin: 0;
            margin-right: 80px;;

            li 
            {
                padding: 5px 0px;
                display: block;
                a 
                {
                    color: #fff;

                    &:hover 
                    {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
    .address-line 
    {
        display: flex;
        margin-bottom: 15px;
        
        address
        {
            padding-left: 10px;;
            margin-top: 3px;;

        }
        p
        {
            margin: 0;
            margin-top: 3px;;
            padding-left: 10px;;
        }

        img 
        {
            width: 30px;
            height: auto;
        }
    }
}


// admission page

.page
{

    .title
    {
        position: relative;
        padding: 0;;
        margin-top: 100px;
        height: 350px;
        background-size: cover;;
        background-position: center ;

        h1
        {
            font-size: 45px;
            color: #fff;
            padding-top: 130px;
             
        }
    }
    


}
.page-content
{
    padding: 60px 0px 120px;
}

.tab-section    
{
    display: flex;
    .tab-nav
    {
        flex: 1;

        ul
        {
            padding: 0;
            margin: 0;
            width: 150px;
            background: #ffffff;
            
            li 
            
            {
                display: block;
                padding: 15px 0px;


                a 
                {
                    // background: #000;
                    display: block;
                    color: #777;

                    position: relative;
                    padding-left: 20px;;
                    
                    &::after
                    {
                        position: absolute;
                        content: "";
                        width: 5px;
                        background: #fff;
                        height: 14px;;
                        top: 2px;;
                        left: 0;

                    }
                }
                .active
                {
                    color: #5cbbd7;
                    font-weight: 600;

                    &::after
                    {
                        background: #5cbbd7;

                    }
                }

            }
        }
    }
    .mob-tab-nav
    {
        display: none;
    }
    .tab-content    
{
    flex: 5;
    padding: 0px 2rem;
    p
    {
        color: #555;
    }
}


}
.page-row
{
    display: flex;
    gap: 30px;


    .page-column
{
    flex:1;
}
}
.school 
{
     .column1
    {
        font-size: 17px;
        flex:4;
    }
    .column2
    {
        font-size: 15px;
        flex:3;
        line-height: 1.5;

    }
    .column3
    {
        font-size: 15px;
        flex:5;
        line-height: 1.5;
        p
        {
            padding-right: 100px;
        }

    }
    .column4
    {
        flex: 1;
    }
}



.ab-image
{
    position: relative;
    img 
    {
        position: relative;
        width: 100%;
    }
}
.ab-image .ybg 
{
    position: absolute;
    width: 100%;
    height: 100%;;
    top:-15%;
    right:-15%;
    background: #fdb35d;

}

.mission
{
    .column1
    {
        flex:8;
    }
    .column2
    
    {
        flex: 2;

    }

    .missioncol
    {
        display: flex;
        margin-bottom: 40px;;
        .image 
        {
            flex: 1;
            img 
            {
                width: 100%;

            }
        }
        .content
        {
            flex: 1;
            // padding: 20px;
            align-items: center;
            justify-content: center;
            .mcol-wrap  
            {
                padding:60px;
            }
            .mcol-title 
            {
                display: flex;
                align-items: center;
                margin-bottom: 40px;


                h2 
                {
                    color:#515151;
                    font-size: 45px;
                    margin: 0;
                    padding-left: 20px;;
                }
            }
            .desc 
            {
                img 
                {
                    float: left;
                    margin-top: -27px;
                    width:55px;
                }
                p
                {
                    font-size: 18px;
                }
            }

        }
    }
    .missioncol.vision
    {
        .content{
            order: 2;
        }
    }

}

.page-column.c11
{
    flex:11;
    display: flex;
    flex-wrap: wrap;
    // gap:50px;

}
.syscol 
{
    width: 50%;;
    padding:0px 0px 50px 50px;
    overflow-x: hidden;

    h1
    {
        font-size: 45px;
    }
    h3
    {

 
        position: relative;
        background: #fff;
        z-index: 100;
        display: inline-block;
        padding-right: 10px;;
        margin-bottom: 5px;


 

        &::after
        {
            content: "1000000000000";
            width: 100px;
            height: 5px;
            font-size: 6px;
            background:#fdb35d;
            color: #fdb35d;
            margin-left: 10px;;
            position: relative;
            bottom: 2px;

        }
    }
    p
    {
        line-height: 1.6;
    }

}

.syscol.full
{
    display: flex;

width: 100%;
gap:50px;
padding: 0px;padding-bottom: 50PX;


}
.syscol.full > div 
{
    flex:1;

    
    img 
    {
        max-width: 100%;;
        margin-top: 55px;;
    }
}
.sys2 
{
    background: #ebf3f3;
    padding: 50px 0px;
    .page-row
    {
        gap: 60px;
    }
    .page-column
    {
        flex: 4;
    }
    .c11{
        flex: 1;
    }
}
.c11{
    flex: 1;
}

.syscol2 
{
    h3
    {

 
        position: relative;
        background: #ebf3f3;
        z-index: 100;
        display: inline-block;
        padding-right: 10px;;
        margin-bottom: 15px;


 

        &::after
        {
            content: "1000000000000";
            width: 100px;
            height: 5px;
            font-size: 6px;
            background:#fdb35d;
            color: #fdb35d;
            margin-left: 10px;;
            position: relative;
            bottom: 2px;

        }
}

}
.sys3 
{
    padding: 50px 0px;

    .syscol 
    {
        padding: 0;
        flex: 1;

    }
    .c10    
{
    flex:10;
}
}


.df 
{
    gap: 50px;

    display: flex;
    flex-wrap: wrap;
    width: 100%;
    
    .syscol 
    {
        flex: auto;
        width: 45%;
        
    }
}

.hall   
{
    .column1,.column2
    {
        flex: 5;

    }
    .c111
    {
        flex:1;
    }
    img 
    {
        max-width:100%;
        margin-top: 50px;
    }
 
}
.accolades
{
    .c12
{
    flex: 8;
    text-align: center;
    display: flex;justify-content: center;
    flex-direction: column;
}
img 
{
max-width: 100%;
}
.cg1
{
    flex: 2;
}
}

.tab-content.founder
{
    p
    {
        line-height: 1.5;
        font-size: 14px;
    }
    img 
    {
        width: 100%;
        margin-top: 50px;;
    }
}
.tab-content > .row 
{

margin: 0px;
}

.gwrap
{
    width: 900px;
    height: 600px;;
    max-width: 100%;
}
.tab-content.gallery

{
    .swiper-container {
        width: 100%;
        height: 300px;
        margin-left: auto;
        margin-right: auto;
      }
      .swiper-slide {
        background-size: cover;
        background-position: center;
      }
      .gallery-top {
        height: 80%;
        width: 100%;
      }
      .gallery-thumbs {
        height: 20%;
        box-sizing: border-box;
        padding: 30px ;
        background: #ebf3f3;
        margin-top: 30px;


            .swiper-wrapper
            {
                // margin-left: 60px;
                // margin-right: 60px;
            }
      }
      
      .gallery-thumbs .swiper-slide {
        height: 100%;
        opacity: 0.9;
      }
      .gallery-thumbs .swiper-slide-thumb-active {
        opacity: 1;
        border: 5px solid #fdb35d;
      }
  
}

.adrs 
{
    background: #ebf3f3;
    padding: 25px;

    h4 
    {

    }
    address 
    {
        font-style: normal;
        font-size: 14px;
    }
}

.soceity
{
    h2 
    {
        font-size: 36px;
        font-family: bold;
        
    }
    p
    {
        line-height: 1.6;

    }
    ul 
    {
        li
        {
            color: #515151;
            margin-bottom: 10px;
            line-height: 1.5;
        }
    }
}

.instt-photo
{
    width: 450px;

height: 340px;


background-size: cover;
}
.facility 
{
    h2 
    {
        text-align: center;
    }
    p
    {
        color: #515151;
    }
    .swiper-slide
    {
        img
        {
            width: 100%;
        }
    }
    .fac-slider
    {
        // position: relative;
    }
}
.swiper-button-next, .swiper-button-prev
{
    width: 42px;
    height: 42px;
    background-size:cover;
}
.swiper-button-next, .swiper-container-rtl .swiper-button-prev
{
    background-image: url(../img/right-ar.png);
}
.swiper-button-prev, .swiper-container-rtl .swiper-button-next
{
    background-image: url(../img/left-ar.png);

}
.swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled
{
    opacity: .8;
}
.admission
{
    h2
    {
        
    margin-top: 0;;}
    p
    {
        line-height: 1.6;
    }
    .appform
    {
        display: flex;
        background: #ebf3f3;
        padding: 20px 30px;
        justify-content: space-between;
        font-size: 18px;
        color: #515151;
        align-items: center;
        margin-bottom: 30px;
        button 
        {
            background: #199db8;
            text-transform: uppercase;
            color: #ffffff;
            font-family: bold;
            font-size: 15px;
            padding: 7px 10px;
            border: 0;
            cursor: pointer;
        }
    }
}

.con-page
{
    .page-content
    {
        padding: 0;;
    }

    .formwrap
    {
        background: #ebf4f3;
        margin-top: -100px;
        padding: 70px;
        box-shadow: 0px 0px 30px rgba(94, 92, 92, 0.233);
margin-bottom: 200px;
        h2
        {
            text-align: center;
        }

        input, select
        {
            border: 0;
            padding: 15px 25px;
            margin-bottom: 25px;
            display: block;
            width: 100%;

            option
            {
                font-family: regular;
            }
        }
        textarea 
        {
            border: 0;
            width: 100%;
            padding: 10px;
        }
        .con-btn
        {
            background: #199db8;
            border: 0;
            padding: 15px 25px;
            color: #ffffff;
            display: block;
            margin: auto;
        }
    }
}

.faculty
{

}

.faculty-content 
{
    display: flex;
}
.staff-list 
{
    flex: 2;

    ul 
    {
        padding: 0;
        z-index: 100;
        position: relative;

        li 
        {

            margin-bottom: 20px;
            display: block;
            a 
            {
                border: 1px solid #d3d3d3;
                text-align: center;
                color: #515151;
                display: block;
                padding: 7px;
                font-size: 15px;
                background: #ffffff;

                &.active
                {
                    background: #199db8;
                    border-color: #199db8;
                    color: #fff;
                }
            }
        }
    }

}
.mob-staftab
{
    display: none;
}
.staff-content 
{
    flex: 8;

    .staff-pane
    {   
        display: none;
        flex-wrap: wrap;
        padding-left: 100px;
        // justify-content: space-between;
        gap: 50px;

    }
    .staff-pane.active
    {
        display: flex;

    }

    .staff{
        width: 350px;
        min-height: 260px;
        box-shadow: 0px 0px 30px rgba(94, 92, 92, 0.233);
        border-radius: 5px;
        overflow: hidden;

        .staff-head
        {
            border-top: 10px solid #fdb35d;
            display: flex;
        }
        .staff-img
        {
            width: 100px;
            height: 120px;;
            background-size: cover;
            margin-top: -10px;
        }
        .staff-head
        {
            // border-bottom: 1px solid rgb(221, 221, 221);
            h3
            {
                padding-left: 20px;;
                height: 30px;
            }
        }
    }
    .stf-btn
    {
        background: #fff;
        color: #000;
        font-family: regular;
        border: 0;
        text-transform: uppercase;
        float: right;
        padding: 0;
        margin-right: 30px;;
        cursor: pointer;
        font-size: 15px;

    }
    .stf-btn.active

    {

        font-family: bold;
        border-bottom: 4px solid #199db8;

    }

    .stafftab
    {   
        margin-top: -30px;
    }
    .staffcon
    {
        padding: 40px 20px 20px;
        font-size: 15px;
        display: none;
        p
        {
            // margin-bottom: 5px;;
            margin-top: 5px;
            margin-bottom: 5px;
        }
        h3
        {
            margin: 10px 0px
        }
    }

    .qua-btn.active ~ .quals
    {
        display: block
    }
    .exp-btn.active ~ .exp
    {
        display: block
    }

}
.charity-row
{
    display: flex;
    flex-wrap: wrap;
    // justify-content: space-between;
    gap: 60px;

    .charity-item   
    {
        width: 270px;
        border: 1px solid #cccccc;
        img 
        {
            width: 100%;
        }
        h3
        {
            padding: 0px 10px
        }
        div
        {
            display: flex;
            justify-content: center;
        }
        a 
        {
            margin-top: 0;
        }
    }
}
.events1
{
    flex: 4;
    text-align: center;
    h1 
    {
        text-align: center;
    }
}
.evroll
{
    width: 630px;
    display: block;
    margin: auto;
}
.evrhead
{
    height: 120px;;
    background: #dae3e3;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;

    select 
    {
        border: 0;
        border-radius: 6px;
        padding: 10px 20px;
        font-size: 18px;

    }
    button 
    {
        background: #0087A3;
        border-radius: 6px;
        padding: 10px 20px;
        border: 0;
        cursor: pointer;
        color: #fff;
        font-size: 18px;


    }
}
.evrbody
{
    background: #ebf4f3;
    // height: 500px;;
    position: relative;
}
.timeline
{
    width: 2px;
    background: rgb(187, 187, 187);
    height: 100%;
    // position: absolute;
    left: 50%;
    margin-left: calc(50% - 1px );;
padding-top: 80px;
padding-bottom: 10px; 
    .tl-item
    {
        width: 24px;
        height: 24px;
        border: 6px solid #fff;
        background: #fdb35d;
        border-radius: 50%;
        box-shadow: 0px 5px 10px rgba(94, 92, 92, 0.233);
        margin-left: -12px;;
        position: relative;
        margin-bottom: 200px;
        .date 
        {
            position: absolute;
            right: 50px;top: 0;
            width: 200px;
            text-align: right;
            font-family: bold;
            color: #515151;

        }
        .tl-body
        {
            position: absolute;
            width: 200px;
            left: 50px;top: 0;
            text-align: left;

            h3
            {
                margin: 0;;
                background: #ff6d6d;
                padding: 15px;
                color: #fff;
                margin-top: -18px;;
                position: relative;
                text-align: center;
                
                &::after
                {
                    width: 22px;
                    height: 22px;
                    background: #ff6d6d;
                    position: absolute;
                    content: "";
                    transform: rotate(45deg);
                    left: -10px;
                    top: 14px;
                }
            }
            p
            {
                font-size: 14px;
                line-height: 25px;
                color: #8e8e8e;
            }
            a
            {
                color: #0087A3;
                font-family: bold;
                &::after
                {
                    content:" »";
                }
            }
        }
    }
    .tli2
    {

        .date
        {

            left: 50px;top: 0;
            text-align: left;
            right: auto;
            
        }
        .tl-body
        {
            right: 50px;top: 0;
            text-align: left;
            left: auto;

            h3
            {

                &::after
                {
                    right: -10px;
                    left: auto;

                }

            }
        }
    }
    
}
.evlc
{
    flex: 1;
}

.art-row
{
    display: flex;
    flex-wrap: wrap;
    gap: 60px;

    .article .article-footer
    {
        align-items: center
    }
    .article .article-footer > a
    {
        order: 2;
        background:#199db8;
        flex: 1;
        text-align: center;
        color: #fff;
        height: 35px;;
        line-height: 35px;
        margin-right: -15px;
        margin-bottom: -15px;

    }
    .article .article-footer .social
    {
        flex: 1;

    }
}
.ach-row
{
    display: flex;
    flex-wrap: wrap;
    gap: 60px;

        .ach-item   
        {
        border: 1px solid #cccccc;
    width: 270px;

            img 
            {
                width: 100%;
            }
    h3 
    {
        margin: 0;
        padding: 20px;

    }
    .achf   
    {
        display: flex;
        .date
        {
            flex: 1;
        }
        .rm
        {
            background:#199db8;
            flex: 1;
            text-align: center;
            color: #fff;
            height: 35px;;
            line-height: 35px;

        }
    }
}
}

.alumni-row
{
    display: flex;
    flex-wrap: wrap;
    gap: 100px;

    .alumni-item
    {
        border-radius: 5px;
overflow: hidden;
width: 182px;
box-shadow: 0px 0px 20px rgb(224, 224, 224);
h3 
{
    margin: 10px 0px 5px;;
    font-size: 16px;
}
p
{
    margin: 0;
    margin-bottom: 10px;;
    font-size: 14px;
}
text-align: center;
.profile-button {

    height: 32px;
    width: 100%;
    border: none;
    background-color: #0087A3;
    color:white;
    font-size: 14px;
    line-height: 32px;;
    display: block;
    }
    
}
}
.cs-content
{
    display: flex;
    gap: 50px;

    div 
    {
        flex: 1;
    }
    .cs-img 
    {
        img 
        {
            max-width: 100%;
        }
    }
}
.single
{
    p
    {
        line-height: 25px;;
        font-size: 15px;
        color: #8e8e8e;
    }
}

.alumnisingle
{
    margin-top: -150px;
    background: #ebf3f3;
    padding: 100px;
    padding-bottom: 40px;;
    border-radius: 10px;
    box-shadow: 0px 10px 20px rgb(224, 224, 224);


    p
    {
                line-height: 25px;;
                font-size: 15px;
                color: #8e8e8e;
                margin-top: 20px;
    }
    .head
    {
        margin: auto;
        margin-top: -150px;;
        width: 200px;
        border-radius: 5px;
    box-shadow: 0px 10px 20px rgba(104, 104, 104, 0.301);
    background: #fff;
    padding: 20px;
    display: block;
text-align: center;

    img    
    {
        border-radius: 50%;;
        margin: auto;
        width: 100%;
    }
     h3
     {
        margin-bottom: 8px;;
     } 
     p
     {
         margin-top: 5px;
         margin-bottom: 5px;;
         color: #515151;

     }

    }

}
.art-container
{
    width: 100%;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;

}
.page .art-title
{
    background: #0087a3;
    color: #fff;
    padding: 60px 0px; 
    height: auto;
}
.page .art-title h1
{
    padding: 0;
}
.art-details 
{
    display: flex;
    justify-content: space-between;

    .left 
    {
    display: flex;
    align-items: center;    
        img 
        {
            width: 50px;
            margin-right: 10px;
        }
        
    }
    .right 
    {
        display: flex;
        align-items: center;  
        img 
        {
            width: 20px;
            margin-right: 10px;
        }
    }

}

.article-content
{
    img 
    {
        margin: auto;
        margin-bottom: 30px;;
    }
    p 
    {

    }
}

.art-footer
{
    display: flex;
    justify-content: space-between;

    .left 
    {
    display: flex;
    align-items: center;    
        img 
        {
            width: 40px;
            margin: 0;
            margin-right: 10px;
        }
    }
    .right 
    {
    display: flex;
    align-items: center;
    
    a 

    {
        margin-left: 20px;
        padding: 0px 5px;
        img 
        {
            height: 25px;
        }
    }
    }
}

.alumniregbtn
{
    position: absolute;
right: 100px;
top: 20px;
background:#fdb35d;
color:#fff;
padding: 10px;
box-shadow: 0px 0px 20px#e0e0e0;
}
.alumni-photo-upload
{
    background: #fff;;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    color: #777;
    margin-bottom: 25px;;
    input 
    {
        margin: 0 !important;
    }
}

.tile-rm
{
    position: absolute;
    width: 100%;
    top: 0;
    height: 100%;

    img.svgnxt 
    {
    position: absolute;
        height: 30px !important;
        width: 30px;
        bottom: 20px;
        right:50px;
        opacity: 0.2;  
        transition: 500ms;
        


    }
    &:hover 
    {
        img.svgnxt 
        {
            transform: translateX(10px) rotateX(180deg);
            transition: 500ms;
        opacity: 0.4;  

        }
    }
}