@charset "UTF-8";
@font-face {
  src: url(../assets/Metropolis-Regular.otf);
  font-family: Regular;
}

@font-face {
  src: url(../assets/Metropolis-Bold.otf);
  font-family: Bold;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  /* background: #000; */
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: Regular;
}

html {
  height: 100%;
}

img {
  display: block;
}

.wrapper {
  /* background: rgb(187, 180, 180); */
  width: 100%;
  max-width: 2000px;
  margin: auto;
  box-shadow: 0px 0px 30px rgba(94, 92, 92, 0.233);
}

.container {
  max-width: 1100px;
  margin: auto;
  display: block;
  height: 100%;
  position: relative;
  padding: 0;
}

section {
  position: relative;
  padding: 80px 0px;
}

header {
  position: fixed;
  width: 100%;
  max-width: 2000px;
  top: 0;
  background: white;
  z-index: 1000;
  box-shadow: 0px 0px 30px rgba(94, 92, 92, 0.233);
}

h2 {
  font-family: bold;
  font-size: 38px;
  color: #515151;
}

.fph2 {
  margin-top: 0px;
}

nav {
  display: flex;
  height: 100px;
  justify-content: space-between;
  align-items: center;
  /* background: rgb(252, 180, 180); */
}

nav .logo {
  z-index: 103;
}

nav ul {
  display: flex;
}

nav ul li {
  display: block;
  padding: 0px 15px;
}

nav ul li a {
  display: block;
  border-top: 5px solid #fff;
  border-bottom: 5px solid #fff;
  height: 100px;
  line-height: 100px;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 15px;
  color: #777;
  font-family: bold;
}

nav ul li a.active {
  border-top: 5px solid #0087a3;
  color: #0087a3;
}

.menubtn {
  width: 80px;
  height: 100px;
  position: absolute;
  right: 20px;
  top: 0;
  display: none;
  cursor: pointer;
}

.menubtn div {
  height: 3px;
  background: #0087a3;
  position: absolute;
  right: 0;
  transition: 300ms;
}

.menubtn .l1 {
  width: 40px;
  top: 40px;
}

.menubtn .l2 {
  width: 40px;
  top: 50px;
}

a.readmore {
  background: #0087a3;
  padding: 15px 20px;
  margin-top: 20px;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  box-shadow: 0px 5px 30px #aaa;
  margin-bottom: 20px;
  font-family: bold;
  font-size: 14px;
  line-height: 14px;
}

.intro {
  margin-top: 100px;
  overflow: hidden;
  padding: 0;
}

.intro .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.intro .intro-content {
  width: 40%;
  padding: 0px 50px;
}

.intro .intro-content h1 {
  font-size: 45px;
  color: #515151;
  font-family: bold;
}

.intro .intro-content p {
  color: #8e8e8e;
  font-size: 16px;
  line-height: 26px;
}

.intro .intro-content a {
  background: #0087a3;
  padding: 20px;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  box-shadow: 0px 5px 30px #aaa;
}

.intro .intro-slider {
  width: 60%;
  position: relative;
}

.intro .intro-slider .inner {
  width: 650px;
  height: 580px;
  background: #c29898;
  margin: 0;
  margin-top: 80px;
}

.intro .intro-slider .swiper-slide {
  background-size: cover;
  background-position: center;
}

.intro .intro-bg {
  background: #fdb35d;
  position: absolute;
  width: 60vw;
  left: 40%;
  top: 0;
  height: 85%;
}

.intro .swiper-button-next, .intro .swiper-button-prev {
  bottom: 10px;
  top: auto;
  left: 10px;
}

.intro .swiper-button-next {
  left: 62px;
}

.numbers {
  height: auto;
}

.numbers .number-content {
  display: flex;
  justify-content: space-around;
}

.numbers .number-content .number {
  padding: 20px 0px;
  display: flex;
  align-items: flex-end;
}

.numbers .number-content .number p {
  margin: 0;
  padding-left: 10px;
}

.tiles {
  padding: 0;
}

.tiles .tiles-bg {
  background: #dfe8f8;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  width: 50%;
}

.tiles-content {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  height: 100%;
}

.tiles-content .left {
  background: #dfe8f8;
  flex-grow: 1;
  flex-basis: 0;
  align-items: center;
  display: flex;
}

.tiles-content .left .mission {
  color: #fff;
  padding: 30px 60px;
  font-weight: 300;
  font-size: 26px;
}

.tiles-content .left .mission .mission-head {
  display: flex;
}

.tiles-content .left .mission .mission-head h1 {
  color: #515151;
  padding-left: 10px;
  font-size: 36px;
}

.tiles-content .left p {
  padding-left: 100px;
  color: #515151;
  font-weight: 300;
  background: url(../img/qoute.svg) no-repeat;
  background-position: 30px 0;
  margin-top: 0;
  padding-top: 30px;
}

.tiles-content .left p span {
  font-weight: 600;
  color: #0087a3;
}

.tiles-content .right {
  flex-grow: 1;
  flex-basis: 0;
  background: #fff;
}

.tiles-content .right .founder {
  height: 50%;
  display: flex;
  align-items: center;
}

.tiles-content .right .founder img {
  height: 100%;
}

.tiles-content .right .princi {
  height: 50%;
  display: flex;
  align-items: center;
}

.tiles-content .right .princi img {
  height: 100%;
}

.tiles-content .right .princi p {
  background: url(../img/qoute.svg) no-repeat;
  background-size: 70px;
  padding-left: 30px;
  padding-top: 20px;
}

.tiles-content .tile-body {
  padding: 50px;
  padding-right: 0px;
  font-weight: 300;
  font-size: 14px;
  position: relative;
}

.tiles-content .tile-body p {
  line-height: 25px;
  font-size: 14px;
  color: #8e8e8e;
}

.about {
  padding: 80px 0px;
  height: auto;
  background-image: url(../img/s2.jpg);
  background-size: cover;
  background-position: center top;
}

.about .about-content {
  display: flex;
  justify-content: flex-start;
}

.about .about-slider {
  flex: 2;
  flex-basis: 0;
}

.about .about-body {
  flex: 3;
  flex-basis: 0;
  padding: 0px 50px;
  padding-right: 0px;
}

.about .about-body p {
  line-height: 25px;
  font-size: 14px;
  color: #8e8e8e;
}

.charity {
  padding: 80px 0px;
  height: auto;
  overflow-x: hidden;
}

.charity .charity-slider {
  position: relative;
}

.charity .bg {
  background: #fdb35d;
  position: absolute;
  width: 100vh;
  right: 50%;
  top: -80px;
  height: calc(100% + 160px);
  z-index: -1;
}

.charity .charity-content {
  display: flex;
}

.charity .charity-body {
  padding-right: 0px;
  padding-left: 70px;
  font-weight: 300;
  line-height: 25px;
  font-size: 14px;
  color: #8e8e8e;
}

.events .events-content {
  display: flex;
  justify-content: space-between;
}

.events .event {
  margin: 0px 30px;
  position: relative;
}

.events .event:first-child {
  margin-left: 0px;
}

.events .event .date {
  position: absolute;
  width: 150px;
  background: #a4d9d6;
  top: 0;
  left: 50%;
  height: 50px;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #777;
  line-height: 50px;
}

.events .event img {
  width: 230px;
}

.events .event-body {
  padding-left: 40px;
  line-height: 25px;
  font-size: 14px;
  color: #8e8e8e;
}

.achievements {
  background: #ebf4f3;
}

.achievements .ach-content {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.achievements .ach-content .ach {
  position: relative;
}

.achievements .ach-content .ach img {
  width: 230px;
}

.achievements .ach-content .ach p {
  background: #fff;
  padding: 15px;
  width: 230px;
  margin: 0;
  font-size: 15px;
  color: #555;
}

.articles .articles-content {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.article {
  box-shadow: 0px 0px 20px #ccc;
}

.article .article-img {
  width: 300px;
}

.article .article-body {
  width: 300px;
  background: #fff;
  padding: 15px;
}

.article .article-body h4 {
  margin: 0;
  padding-bottom: 20px;
  color: #565656;
}

.article .details {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
  color: #666;
}

.article .details .author {
  display: flex;
  align-items: center;
}

.article .details .author img {
  border-radius: 50%;
  width: 20px;
  margin-right: 8px;
}

.article .article-footer {
  display: flex;
  justify-content: space-between;
}

.article .article-footer a {
  color: #0087a3;
  font-size: 15px;
}

.article .article-footer .social {
  display: flex;
}

.article .article-footer .social img {
  width: 17px;
  margin-left: 10px;
}

.alumni {
  background: #bfdddb;
  position: relative;
}

.alumni .albg {
  background-image: url(../img/cld.png);
  position: absolute;
  width: 100%;
  height: 100%;
  background-position: center bottom;
  background-size: contain;
  background-repeat: no-repeat;
  bottom: 0;
}

.alumni .swiper-container1 {
  overflow: hidden;
}

.alumni .swiper-slide {
  text-align: center;
  margin-bottom: 25px;
}

.alumni .swiper-slide img {
  border-radius: 50%;
  margin: auto;
  width: 200px;
}

.alumni .swiper-slide h4 {
  margin-bottom: 15px;
}

.alumni .swiper-slide p {
  margin: 8px 0px 3px;
}

.alumni .readmore {
  margin-left: auto;
}

.contact {
  background: #fff;
  overflow: hidden;
}

.contact .contact-content {
  display: flex;
}

.contact .contact-content .contact-body {
  flex: 1;
  display: flex;
  padding-bottom: 150px;
  flex-direction: column;
}

.contact .contact-content .contact-body h2 {
  font-size: 40px;
  font-family: bold;
}

.contact .contact-content .contact-body h3 {
  font-size: 30px;
  font-family: bold;
  margin-top: 0;
}

.contact .contact-content .contact-body p {
  color: #515151;
}

.contact .contact-content .sendmail {
  background: #199db8;
  padding: 1rem 2.5rem;
  border-radius: 6px;
  color: #fff;
  font-family: bold;
  display: inline-block;
}

.contact .contact-content .map {
  flex: 1;
  position: relative;
}

.contact .contact-content .map iframe {
  z-index: 100;
  position: relative;
}

.contact .contact-content .map .mapbg {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #c9f8ef;
  right: -10%;
  bottom: -10%;
  z-index: 99;
}

.visitor-comments {
  background: #fff;
}

.visitor-comments h2 {
  text-align: center;
  font-family: bold;
}

.vc-slider {
  overflow-x: hidden;
}

.vc-slider .swiper-slide {
  text-align: center;
  padding: 0px 20%;
}

.vc-slider img {
  width: 100px;
  border-radius: 50%;
  margin: auto;
}

.vc-slider .swiper-pagination {
  bottom: 0;
}

footer {
  background: #0087a3;
  padding: 80px 0px 0px;
  color: #fff;
  position: relative;
}

footer:after {
  position: absolute;
  content: "";
  height: 232px;
  background: url(../img/footer-l.png), url(../img/footer-r.png);
  background-position: left bottom, right bottom;
  background-repeat: no-repeat, no-repeat;
  background-size: contain;
  width: 100%;
  bottom: 100%;
  z-index: -1;
}

footer section {
  background: #333333;
  padding: 10px;
  font-size: 13px;
}

footer section .copyright {
  display: flex;
  justify-content: space-between;
}

footer section .copyright a {
  color: #c2c2c2;
}

footer section .copyright a:hover {
  text-decoration: underline;
}

.footer-content {
  display: flex;
  gap: 60px;
  margin-bottom: 80px;
}

.footer-content .footer-column {
  flex: 1;
}

.footer-content .footer-column p {
  line-height: 26px;
}

.footer-content .ql-column, .footer-content .address {
  margin-top: 50px;
}

.footer-content .quicklinks {
  display: flex;
}

.footer-content .quicklinks ul {
  padding: 0;
  margin: 0;
  margin-right: 80px;
}

.footer-content .quicklinks ul li {
  padding: 5px 0px;
  display: block;
}

.footer-content .quicklinks ul li a {
  color: #fff;
}

.footer-content .quicklinks ul li a:hover {
  text-decoration: underline;
}

.footer-content .address-line {
  display: flex;
  margin-bottom: 15px;
}

.footer-content .address-line address {
  padding-left: 10px;
  margin-top: 3px;
}

.footer-content .address-line p {
  margin: 0;
  margin-top: 3px;
  padding-left: 10px;
}

.footer-content .address-line img {
  width: 30px;
  height: auto;
}

.page .title {
  position: relative;
  padding: 0;
  margin-top: 100px;
  height: 350px;
  background-size: cover;
  background-position: center;
}

.page .title h1 {
  font-size: 45px;
  color: #fff;
  padding-top: 130px;
}

.page-content {
  padding: 60px 0px 120px;
}

.tab-section {
  display: flex;
}

.tab-section .tab-nav {
  flex: 1;
}

.tab-section .tab-nav ul {
  padding: 0;
  margin: 0;
  width: 150px;
  background: #ffffff;
}

.tab-section .tab-nav ul li {
  display: block;
  padding: 15px 0px;
}

.tab-section .tab-nav ul li a {
  display: block;
  color: #777;
  position: relative;
  padding-left: 20px;
}

.tab-section .tab-nav ul li a::after {
  position: absolute;
  content: "";
  width: 5px;
  background: #fff;
  height: 14px;
  top: 2px;
  left: 0;
}

.tab-section .tab-nav ul li .active {
  color: #5cbbd7;
  font-weight: 600;
}

.tab-section .tab-nav ul li .active::after {
  background: #5cbbd7;
}

.tab-section .mob-tab-nav {
  display: none;
}

.tab-section .tab-content {
  flex: 5;
  padding: 0px 2rem;
}

.tab-section .tab-content p {
  color: #555;
  text-align: justify;
  padding: 0 15px 0 0;
}

.page-row {
  display: flex;
  gap: 30px;
}

.page-row .page-column {
  flex: 1;
}

.school .column1 {
  font-size: 17px;
  flex: 4;
}

.school .column2 {
  font-size: 15px;
  flex: 3;
  line-height: 1.5;
  text-align: justify;
  padding: 15px;
}

.school .column3 {
  font-size: 15px;
  flex: 5;
  line-height: 1.5;
  text-align: justify;
}

.school .column3 p {
  padding-right: 100px;
}

.school .column4 {
  flex: 1;
}

.ab-image {
  position: relative;
}

.ab-image img {
  position: relative;
  width: 100%;
}

.ab-image .ybg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: -15%;
  right: -15%;
  background: #fdb35d;
}

.mission .column1 {
  flex: 8;
}

.mission .column2 {
  flex: 2;
}

.mission .missioncol {
  display: flex;
  margin-bottom: 40px;
}

.mission .missioncol .image {
  flex: 1;
}

.mission .missioncol .image img {
  width: 100%;
}

.mission .missioncol .content {
  flex: 1;
  align-items: center;
  justify-content: center;
}

.mission .missioncol .content .mcol-wrap {
  padding: 60px;
}

.mission .missioncol .content .mcol-title {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.mission .missioncol .content .mcol-title h2 {
  color: #515151;
  font-size: 45px;
  margin: 0;
  padding-left: 20px;
}

.mission .missioncol .content .desc img {
  float: left;
  margin-top: -27px;
  width: 55px;
}

.mission .missioncol .content .desc p {
  font-size: 18px;
}

.mission .missioncol.vision .content {
  order: 2;
}

.page-column.c11 {
  flex: 11;
  display: flex;
  flex-wrap: wrap;
}

.syscol {
  width: 50%;
  padding: 0px 0px 50px 50px;
  overflow-x: hidden;
}

.syscol h1 {
  font-size: 45px;
}

.syscol h3 {
  position: relative;
  background: #fff;
  z-index: 100;
  display: inline-block;
  padding-right: 10px;
  margin-bottom: 5px;
}

.syscol h3::after {
  content: "1000000000000";
  width: 100px;
  height: 5px;
  font-size: 6px;
  background: #fdb35d;
  color: #fdb35d;
  margin-left: 10px;
  position: relative;
  bottom: 2px;
}

.syscol p {
  line-height: 1.6;
  text-align: justify;
}

.syscol.full {
  display: flex;
  width: 100%;
  gap: 50px;
  padding: 0px;
  padding-bottom: 50PX;
}

.syscol.full>div {
  flex: 1;
}

.syscol.full>div img {
  max-width: 100%;
  margin-top: 55px;
}

.sys2 {
  background: #ebf3f3;
  padding: 50px 0px;
}

.sys2 .page-row {
  gap: 60px;
}

.sys2 .page-column {
  flex: 4;
}

.sys2 .c11 {
  flex: 1;
}

.c11 {
  flex: 1;
}

.syscol2 h3 {
  position: relative;
  background: #ebf3f3;
  z-index: 100;
  display: inline-block;
  padding-right: 10px;
  margin-bottom: 15px;
}

.syscol2 h3::after {
  content: "1000000000000";
  width: 100px;
  height: 5px;
  font-size: 6px;
  background: #fdb35d;
  color: #fdb35d;
  margin-left: 10px;
  position: relative;
  bottom: 2px;
}

.sys3 {
  padding: 50px 0px;
}

.sys3 .syscol {
  padding: 0;
  flex: 1;
}

.sys3 .c10 {
  flex: 10;
}

.df {
  gap: 50px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.df .syscol {
  flex: auto;
  width: 45%;
}

.hall .column1, .hall .column2 {
  flex: 5;
}

.hall .c111 {
  flex: 1;
}

.hall img {
  max-width: 100%;
  margin-top: 50px;
}

.accolades .c12 {
  flex: 8;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.accolades img {
  max-width: 100%;
}

.accolades .cg1 {
  flex: 2;
}

.tab-content.founder p {
  line-height: 1.5;
  font-size: 14px;
}

.tab-content.founder img {
  width: 100%;
  margin-top: 50px;
}

.tab-content>.row {
  margin: 0px;
}

.gwrap {
  width: 900px;
  height: 600px;
  max-width: 100%;
}

.tab-content.gallery .swiper-container {
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}

.tab-content.gallery .swiper-slide {
  background-size: cover;
  background-position: center;
}

.tab-content.gallery .gallery-top {
  height: 80%;
  width: 100%;
}

.tab-content.gallery .gallery-thumbs {
  height: 20%;
  box-sizing: border-box;
  padding: 30px;
  background: #ebf3f3;
  margin-top: 30px;
}

.tab-content.gallery .gallery-thumbs .swiper-slide {
  height: 100%;
  opacity: 0.9;
}

.tab-content.gallery .gallery-thumbs .swiper-slide-thumb-active {
  opacity: 1;
  border: 5px solid #fdb35d;
}

.adrs {
  background: #ebf3f3;
  padding: 25px;
}

.adrs address {
  font-style: normal;
  font-size: 14px;
}

.soceity h2 {
  font-size: 36px;
  font-family: bold;
}

.soceity p {
  line-height: 1.6;
}

.soceity ul li {
  color: #515151;
  margin-bottom: 10px;
  line-height: 1.5;
}

.instt-photo {
  width: 450px;
  height: 340px;
  background-size: cover;
}

.facility h2 {
  text-align: center;
}

.facility p {
  color: #515151;
}

.facility .swiper-slide img {
  width: 100%;
}

.swiper-button-next, .swiper-button-prev {
  width: 42px;
  height: 42px;
  background-size: cover;
}

.swiper-button-next, .swiper-container-rtl .swiper-button-prev {
  background-image: url(../img/right-ar.png);
}

.swiper-button-prev, .swiper-container-rtl .swiper-button-next {
  background-image: url(../img/left-ar.png);
}

.swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled {
  opacity: .8;
}

.admission h2 {
  margin-top: 0;
}

.admission p {
  line-height: 1.6;
}

.admission .appform {
  display: flex;
  background: #ebf3f3;
  padding: 20px 30px;
  justify-content: space-between;
  font-size: 18px;
  color: #515151;
  align-items: center;
  margin-bottom: 30px;
}

.admission .appform button {
  background: #199db8;
  text-transform: uppercase;
  color: #ffffff;
  font-family: bold;
  font-size: 15px;
  padding: 7px 10px;
  border: 0;
  cursor: pointer;
}

.con-page .page-content {
  padding: 0;
}

.con-page .formwrap {
  background: #ebf4f3;
  margin-top: -100px;
  padding: 70px;
  box-shadow: 0px 0px 30px rgba(94, 92, 92, 0.233);
  margin-bottom: 200px;
}

.con-page .formwrap h2 {
  text-align: center;
}

.con-page .formwrap input, .con-page .formwrap select {
  border: 0;
  padding: 15px 25px;
  margin-bottom: 25px;
  display: block;
  width: 100%;
}

.con-page .formwrap input option, .con-page .formwrap select option {
  font-family: regular;
}

.con-page .formwrap textarea {
  border: 0;
  width: 100%;
  padding: 10px;
}

.con-page .formwrap .con-btn {
  background: #199db8;
  border: 0;
  padding: 15px 25px;
  color: #ffffff;
  display: block;
  margin: auto;
}

.faculty-content {
  display: flex;
}

.staff-list {
  flex: 2;
}

.staff-list ul {
  padding: 0;
  z-index: 100;
  position: relative;
}

.staff-list ul li {
  margin-bottom: 20px;
  display: block;
}

.staff-list ul li a {
  border: 1px solid #d3d3d3;
  text-align: center;
  color: #515151;
  display: block;
  padding: 7px;
  font-size: 15px;
  background: #ffffff;
}

.staff-list ul li a.active {
  background: #199db8;
  border-color: #199db8;
  color: #fff;
}

.mob-staftab {
  display: none;
}

.staff-content {
  flex: 8;
}

.staff-content .staff-pane {
  display: none;
  flex-wrap: wrap;
  padding-left: 100px;
  gap: 50px;
}

.staff-content .staff-pane.active {
  display: flex;
}

.staff-content .staff {
  width: 350px;
  min-height: 260px;
  box-shadow: 0px 0px 30px rgba(94, 92, 92, 0.233);
  border-radius: 5px;
  overflow: hidden;
  margin-left: 10px;
  margin-bottom: 10px;
}

.staff-content .staff .staff-head {
  border-top: 10px solid #fdb35d;
  display: flex;
}

.staff-content .staff .staff-img {
  width: 100px;
  height: 120px;
  background-size: cover;
  margin-top: -10px;
}

.staff-content .staff .staff-head h3 {
  padding-left: 20px;
  height: 30px;
}

.staff-content .stf-btn {
  background: #fff;
  color: #000;
  font-family: regular;
  border: 0;
  text-transform: uppercase;
  float: right;
  padding: 0;
  margin-right: 30px;
  cursor: pointer;
  font-size: 15px;
}

.staff-content .stf-btn.active {
  font-family: bold;
  border-bottom: 4px solid #199db8;
}

.staff-content .stafftab {
  margin-top: -30px;
}

.staff-content .staffcon {
  padding: 40px 20px 20px;
  font-size: 15px;
  display: none;
}

.staff-content .staffcon p {
  margin-top: 5px;
  margin-bottom: 5px;
}

.staff-content .staffcon h3 {
  margin: 10px 0px;
}

.staff-content .qua-btn.active~.quals {
  display: block;
}

.staff-content .exp-btn.active~.exp {
  display: block;
}

.charity-row {
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
}

.charity-row .charity-item {
  width: 270px;
  border: 1px solid #cccccc;
}

.charity-row .charity-item img {
  width: 100%;
}

.charity-row .charity-item h3 {
  padding: 0px 10px;
}

.charity-row .charity-item div {
  display: flex;
  justify-content: center;
}

.charity-row .charity-item a {
  margin-top: 0;
}

.events1 {
  flex: 4;
  text-align: center;
}

.events1 h1 {
  text-align: center;
}

.evroll {
  width: 630px;
  display: block;
  margin: auto;
}

.evrhead {
  height: 120px;
  background: #dae3e3;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.evrhead select {
  border: 0;
  border-radius: 6px;
  padding: 10px 20px;
  font-size: 18px;
}

.evrhead button {
  background: #0087A3;
  border-radius: 6px;
  padding: 10px 20px;
  border: 0;
  cursor: pointer;
  color: #fff;
  font-size: 18px;
}

.evrbody {
  background: #ebf4f3;
  position: relative;
}

.timeline {
  width: 2px;
  background: #bbbbbb;
  height: 100%;
  left: 50%;
  margin-left: calc(50% - 1px);
  padding-top: 80px;
  padding-bottom: 10px;
}

.timeline .tl-item {
  width: 24px;
  height: 24px;
  border: 6px solid #fff;
  background: #fdb35d;
  border-radius: 50%;
  box-shadow: 0px 5px 10px rgba(94, 92, 92, 0.233);
  margin-left: -12px;
  position: relative;
  margin-bottom: 200px;
}

.timeline .tl-item .date {
  position: absolute;
  right: 50px;
  top: 0;
  width: 200px;
  text-align: right;
  font-family: bold;
  color: #515151;
}

.timeline .tl-item .tl-body {
  position: absolute;
  width: 200px;
  left: 50px;
  top: 0;
  text-align: left;
}

.timeline .tl-item .tl-body h3 {
  margin: 0;
  background: #ff6d6d;
  padding: 15px;
  color: #fff;
  margin-top: -18px;
  position: relative;
  text-align: center;
}

.timeline .tl-item .tl-body h3::after {
  width: 22px;
  height: 22px;
  background: #ff6d6d;
  position: absolute;
  content: "";
  transform: rotate(45deg);
  left: -10px;
  top: 14px;
}

.timeline .tl-item .tl-body p {
  font-size: 14px;
  line-height: 25px;
  color: #8e8e8e;
}

.timeline .tl-item .tl-body a {
  color: #0087A3;
  font-family: bold;
}

.timeline .tl-item .tl-body a::after {
  content: " ┬╗";
}

.timeline .tli2 .date {
  left: 50px;
  top: 0;
  text-align: left;
  right: auto;
}

.timeline .tli2 .tl-body {
  right: 50px;
  top: 0;
  text-align: left;
  left: auto;
}

.timeline .tli2 .tl-body h3::after {
  right: -10px;
  left: auto;
}

.evlc {
  flex: 1;
}

.art-row {
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
}

.art-row .article .article-footer {
  align-items: center;
}

.art-row .article .article-footer>a {
  order: 2;
  background: #199db8;
  flex: 1;
  text-align: center;
  color: #fff;
  height: 35px;
  line-height: 35px;
  margin-right: -15px;
  margin-bottom: -15px;
}

.art-row .article .article-footer .social {
  flex: 1;
}

.ach-row {
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
}

.ach-row .ach-item {
  border: 1px solid #cccccc;
  width: 270px;
}

.ach-row .ach-item img {
  width: 100%;
}

.ach-row .ach-item h3 {
  margin: 0;
  padding: 20px;
}

.ach-row .ach-item .achf {
  display: flex;
}

.ach-row .ach-item .achf .date {
  flex: 1;
}

.ach-row .ach-item .achf .rm {
  background: #199db8;
  flex: 1;
  text-align: center;
  color: #fff;
  height: 35px;
  line-height: 35px;
}

.alumni-row {
  display: flex;
  flex-wrap: wrap;
  gap: 100px;
}

.alumni-row .alumni-item {
  border-radius: 5px;
  overflow: hidden;
  width: 182px;
  box-shadow: 0px 0px 20px #e0e0e0;
  text-align: center;
  margin: 10px;
}

.alumni-row .alumni-item h3 {
  margin: 10px 0px 5px;
  font-size: 16px;
}

.alumni-row .alumni-item p {
  margin-bottom: 10px;
  font-size: 14px;
  padding: 0px !important;
  text-align: center;
}

.alumni-row .alumni-item .profile-button {
  height: 32px;
  width: 100%;
  border: none;
  background-color: #0087A3;
  color: white;
  font-size: 14px;
  line-height: 32px;
  display: block;
}

.cs-content {
  display: flex;
  gap: 50px;
}

.cs-content div {
  flex: 1;
}

.cs-content .cs-img img {
  max-width: 100%;
}

.single p {
  line-height: 25px;
  font-size: 15px;
  color: #8e8e8e;
}

.alumnisingle {
  margin-top: -150px;
  background: #ebf3f3;
  padding: 100px;
  padding-bottom: 40px;
  border-radius: 10px;
  box-shadow: 0px 10px 20px #e0e0e0;
  height: 370px;
}

.alumnisingle p {
  line-height: 25px;
  font-size: 15px;
  color: #8e8e8e;
  margin-top: 20px;
}

.alumnisingle .head {
  margin: auto;
  margin-top: -150px;
  width: 200px;
  border-radius: 5px;
  box-shadow: 0px 10px 20px rgba(104, 104, 104, 0.301);
  background: #fff;
  padding: 20px;
  display: block;
  text-align: center;
}

.alumnisingle .head img {
  border-radius: 50%;
  margin: auto;
  width: 100%;
}

.alumnisingle .head h3 {
  margin-bottom: 8px;
}

.alumnisingle .head p {
  margin-top: 5px;
  margin-bottom: 5px;
  color: #515151;
}

.art-container {
  width: 100%;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.page .art-title {
  background: #0087a3;
  color: #fff;
  padding: 60px 0px;
  height: auto;
}

.page .art-title h1 {
  padding: 0;
}

.art-details {
  display: flex;
  justify-content: space-between;
}

.art-details .left {
  display: flex;
  align-items: center;
}

.art-details .left img {
  width: 50px;
  margin-right: 10px;
}

.art-details .right {
  display: flex;
  align-items: center;
}

.art-details .right img {
  width: 20px;
  margin-right: 10px;
}

.article-content img {
  margin: auto;
  margin-bottom: 30px;
}

.art-footer {
  display: flex;
  justify-content: space-between;
}

.art-footer .left {
  display: flex;
  align-items: center;
}

.art-footer .left img {
  width: 40px;
  margin: 0;
  margin-right: 10px;
}

.art-footer .right {
  display: flex;
  align-items: center;
}

.art-footer .right a {
  margin-left: 20px;
  padding: 0px 5px;
}

.art-footer .right a img {
  height: 25px;
}

.alumniregbtn {
  position: absolute;
  right: 100px;
  top: 20px;
  background: #fdb35d;
  color: #fff;
  padding: 10px;
  box-shadow: 0px 0px 20px #e0e0e0;
}

.alumni-photo-upload {
  background: #fff;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  color: #777;
  margin-bottom: 25px;
}

.alumni-photo-upload input {
  margin: 0 !important;
}

.tile-rm {
  position: absolute;
  width: 100%;
  top: 0;
  height: 100%;
}

.tile-rm img.svgnxt {
  position: absolute;
  height: 30px !important;
  width: 30px;
  bottom: 20px;
  right: 50px;
  opacity: 0.2;
  transition: 500ms;
}

.tile-rm:hover img.svgnxt {
  transform: translateX(10px) rotateX(180deg);
  transition: 500ms;
  opacity: 0.4;
}

.ppupload {
  display: flex;
  background: #fff;
  padding: 10px 25px;
  height: 48px;
  align-items: center;
}

.con-page .formwrap .ppupload label, .con-page .formwrap .ppupload input {
  padding: 0;
  min-width: 100px;
  color: #7f7676;
  margin: 0;
}

.alumnisubbtn {
  background: #0087a3;
  padding: 20px;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  border: 0;
  color: #fff;
  box-shadow: 0px 5px 30px#aaa;
  cursor: pointer;
  display: block;
  margin: auto;
}

.academy-pagination-area .pagination .page-item .page-link {
  width: 36px;
  height: 36px;
  background-color: #eef3f6;
  display: block;
  padding: 0;
  border: none;
  margin-right: 10px;
  color: #242424;
  font-size: 12px;
  font-weight: 600;
  text-align: center;
  line-height: 36px;
}

.academy-pagination-area .pagination .page-item .page-link:hover, .academy-pagination-area .pagination .page-item .page-link:focus {
  background-color: #0087a3;
  color: #ffffff;
}

.academy-pagination-area .pagination .page-item:first-child .page-link {
  margin-left: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.academy-pagination-area .pagination .page-item:last-child .page-link {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.academy-pagination-area .pagination .page-item.active .page-link {
  background-color: #0087a3;
  color: #ffffff;
}

.responsive {
  width: 100%;
  height: 182px;
}

/*# sourceMappingURL=main.css.map */