

.intro
{
}
@media screen (min-width:1400px )
{

}

@media (max-width: 1200px) {
    .container
    {
        width: 1000px;

    }
    nav ul li
    {

    padding: 0px 10px;;   
 }
 .footer-column
 {
     margin-bottom: 40px;
 }
 .footer-content .quicklinks ul
 {
     margin-right: 40px;
 }
 }

@media (max-width: 992px) { 
    .footer-content
    {
        flex-direction: column;
    }
    footer section .copyright
    {
        flex-direction: column;
        text-align: center;
    }
    .container
    {
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;;
    }
    nav ul
    {
        position: absolute;
        width: 250px;
right: 0;
        transform:translateX(110%);
        top:100px;
        background: #ccf7f3;
        background: #fff;
        height:100vh;
        flex-direction: column;
        z-index: 101;
        margin: 0;
        padding: 0;
        padding-top: 40px;
        transition: 300ms;
    box-shadow: 0px 30px 30px rgba(94, 92, 92, 0.233);
    border-top: 1px solid #eee;

    }
    .menu-active  nav ul

    {
        transform:translateX(0%);
        transition: 300ms;

    }
    nav ul li 
    {
        padding: 0;
    }

    nav ul li a
    {
        border: 0;
        /* text-align: right; */
        padding-left: 20px;;
        height: auto;
        line-height: 40px;
        border-left: 5px solid #fff;

    }
    nav ul li a.active
    {
        border: 0;

        border-left: 5px solid #0087a3;
        background: rgba(0, 0, 0, 0.103);

    }


.menubtn
{
    display: block;
    z-index: 102;

}
.menu-active  .menubtn .l1
{
    transform: rotate(45deg);
    transition: 300ms;
    top: 43px;

}
.menu-active  .menubtn .l2
{
    transform: rotate(135deg);
    transition: 300ms;
    top: 43px;

}


    .numbers .number-content
    {
        flex-wrap: wrap;
    }
    .numbers
    {
        padding: 20px 0px;
    }

    .number
    {
        flex-basis: 50%;
        justify-content: center;
    }
    .intro .container
    {
        flex-direction: column;
    }
   .intro .intro-content
    {
        width: 100%;
        padding: 0px;;
    }
    .intro .intro-slider
    {
        width: 100%;
        display: flex;
        margin-top: 140px;
        padding-bottom: 80px;

justify-content: center;
    }
    .intro .intro-bg
    {
        width: calc(100vw + 20px);
        left: -20px;
        top: 0;
        height: 100%;
    }
    .intro .intro-slider .inner {

        width: 300px;
        height: 300px;
        margin-top: -80px;
    
 }
 .tiles  .container{
     padding: 0px;
 }
 .tiles-content
 {
     flex-direction: column;
 }
 .tiles-content .tile-body
 {
     padding: 30px;
     padding-right: 20px;;
     font-size: 14px;
 }

.about-content
{
    flex-direction: column;
}
 .about
 {
     /* background: rgb(148, 144, 144); */
 }
 .about .about-body
 {
padding: 0px;
 }
 .about .about-slider
 {
    order: 2;
    width: 100%;



 }
 .about .about-slider img
 {
     width:100%;
 }
.charity
{
    background: #fdb35d;

}
 .charity .charity-content
 {
     flex-direction: column;

 }
 .charity .charity-body
 {
     order: 1;
     padding-left:0px;;
 }
 .charity .charity-slider
 {
    order: 2;

 }
 .charity .charity-slider img 
 {
     max-width: 100%;
 }
 .events .events-content {
     flex-wrap: wrap;
     justify-content: center;

 }
 .events .event-body
 {
     order: 1;
     padding-left: 0;;
     padding-right: 50px;
     padding-bottom: 50px;;
 }
 .events .event
 {
     order:2;
     margin-bottom: 30px;;
 }
 .events .event:first-child
 {
     /* padding-left: 30px; */
 }

 .achievements .ach-content
 {
    flex-wrap: wrap;
    justify-content: center;
 }
 .articles .articles-content
 {
    flex-wrap: wrap;
    justify-content: center;

 }

 .page-row
 {
     flex-direction: column;
     flex-wrap: wrap;
 }
 .syscol
 {
     padding: 0px;
     width: 100%;

 }
 .syscol.full
 {
     flex-direction: column;
 }
 .syscol img 
 {
     max-width: 100%;
 }
 .contact .contact-content
 {
     flex-direction: column;
 }
 .contact .contact-content .contact-body
 {
     padding-bottom: 50px;;
 }
 .ab-image .ybg
 {
     display: none;
 }
}

@media (max-width: 768px) {

    .container
    {


    }
    .footer-content .ql-column, .footer-content .address
    {
        margin: 0;
        margin-bottom: 40px;
    }
    .tab-section
    {
        flex-direction: column;
    }

    .tab-nav{
        display: none;
    }
    .tab-section .mob-tab-nav
    {
        display: block;
        padding: 20px 0px;
    }
    .tab-section .tabswiper
    {
        background: #f2f2f2;
        overflow: hidden;
        
    }
    .tab-section .tabswiper ul
    {
        display: flex;
        background: #f2f2f2;

    }
    .tab-section .tabswiper ul    {
        width: 100%;
    }
    .tab-section .tabswiper ul li   {
        display: inline-block;
    }
    .tab-section .tabswiper ul li a
    {
        padding: 6px 15px;
        border: 1px solid #ccc;
        border-radius: 30px;
        /* margin-left: 10px;; */
        font-size: 14px;
        color: #777;


    }
    
    .tab-section .tabswiper ul li .active
    {
        background: #0087a3;
        color: #fff;
        border-color: #0087a3;
    }
    .tab-section .tabswiper ul li a::after
    {
        display: none;
    }
    .tabul .swiper-slide
    {
        width: auto;
    }
    .tabul .swiper-slide.dummyli
    {
        width: 70px;;
    }
    .tab-content
    {
        margin-top:  60px;

    }
 
    .page-content
    {
        padding-top: 0;;
    }
    .evroll
    {
        width: 100%;
    }
    .timeline
    {
        margin-left:10%;

    }
    .timeline .tl-item
    {
        margin-bottom: 230px;;
    }
    .timeline .tl-item .date
    {
        left: 50px;
        top: -39px;
        text-align: left;
    }
    .timeline .tli2 .tl-body
    {
        left: 50px;
        right: auto;

    }
    .timeline .tli2 .tl-body h3::after
    {
    right: auto;
    left: -10px

    }
    .mission .missioncol .content .mcol-wrap
    {
        padding: 10px;
    }
.cs-content

{
    flex-direction: column;
}
.fac-slider .swiper-button-next, .fac-slider .swiper-button-prev
{
    top: 240px
}
.charity-row, .art-row, .ach-row, .alumni-row {


    justify-content: center;

}
.art-row  .article, .charity-row .charity-item, .ach-row .ach-item, .alumni-row .alumni-item
{
margin-bottom: 50px;;
}
.df 
{
    flex-direction: column;
}
.df .syscol
{
    width: 100%;

}

.faculty-content
{
    flex-direction: column;
}
.staff-content .staff-pane
{
    padding-left: 0px;
    justify-content: center;
    padding-top: 50px;;

}
.staff-content .staff
{
    margin-bottom: 40px;
    margin-right: 0;
}
footer::after
{
    height: 140px;;
}
.staff-list
{
    display: none;
}
.mob-staftab
{
    background: rgb(240, 240, 240);
    margin-left: -20px;
    margin-right: -20px;
    padding: 20px ;
    display: block;
}
.mob-staftab li 
{
    display: inline-block;
}
.mob-staftab li  a
{
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 7px 12px;
    color: #8e8e8e;
}
.mob-staftab li  a.active 
{
    background: #0087a3;
    border-color: #0087a3;
    color: #fff;
}
.xs-hidden
{
    display: none;
}

 }



@media (max-width: 576px) { 
    
    nav ul
    {
/* display: none; */
    }
    .container
    {

        /* background: #000; */

    }
}





